/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

/* General */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9FAFC;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

/* Ensure the entire page is a flex container to keep footer down */
body, html {
    height: 100%; /* Make the body and html span the full viewport height */
    margin: 0; /* Remove default margin */
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Arrange children in a column */
}

/* Ensure the main content area grows as needed  to keep footer down */
#root {
    display: flex;
    flex-direction: column;
    flex: 1; /* Let the main content grow to fill available space */
}


